.image {

    width: 150px;
    height: auto;
    padding: 10px;

}

table {

    margin-left: 20px;
    border-collapse: collapse;
    width: 100%;
}

td,th {
   
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 0px;
    height: 50px;  
    text-align: center;

}
